
   
    
   
        <!--================Home Banner Area =================-->
        <section class="home_banner_area" style="margin-bottom: 0;background-image: -webkit-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);">
           	<div class="container box_1620" style="max-height: 94vh;top: 3vh;bottom: 3vh;">
           		<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media">
							<div class="d-flex" >
								<img src="../../assets/img/personal.jpg" alt="" style="margin-bottom: 6vh; height: 80vh;width: auto;">
							</div>
							<div class="media-body">
								<div class="personal_text">
									<h6>Hello Everybody, i am</h6>
									<h3>Indrajit Saha</h3>
									<h4>Software Engineer</h4>
									<p>Angular 7 | Angular 8 | Angular 9 | Vue.js | Javascript | HTML 5 | CSS 3 | php | MySql |GitHub | GitLab | Bitbucket | Jira | Projeject Management | Social Media Marketing</p>
									<ul class="list basic_info">
										<!-- <li><a href="#"><i class="fa fa-calendar"></i> 07th May</a></li> -->
										<li><a href="#"><i class="fa fa-phone"></i> 7797731432</a></li>
										<li><a href="#"><i class="fa fa-envelope"></i> indrajitsaha7597@gmail.com</a></li>
										<li><a href="#"><i class="fa fa-home"></i> Kolkata</a></li>
									</ul>
									<ul class="list personal_social">
										<li><a href="https://www.facebook.com/profile.php?id=100008137008611" style="background-image: -moz-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);
											background-image: -webkit-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);
											background-image: -ms-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);"><i class="fa fa-facebook"></i></a></li>
										<li><a href="https://github.com/Indrajitsaha1997?tab=repositories" style="background-image: -moz-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);
											background-image: -webkit-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);
											background-image: -ms-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);"><i class="fa fa-github"></i></a></li>
										<li><a href="https://www.linkedin.com/in/indrajit-saha/" style="background-image: -moz-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);
											background-image: -webkit-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);
											background-image: -ms-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
  
        
        
        
        
       
 
